@import "mixins";

@include respond-to(phone, tablet) {
    .aui .hangouts-portlet {
        div.groups-list {
            padding: 0.5em 10px;
            .group-label {
                width: 55%;
                display: inline-block;
            }
            ul > li.editing  {
                .group-options.show,  
                .group-options {
                    display: none !important;
                }
            }
        }
        h3.hangouts-group-name,
        h3.hangouts-group-name:hover {
            .icon-pencil {
                display: inline-block;
            }
        }
        .form-search {
            button {
                display: inline-block;
            }
        }
    }
}
@include respond-to(phone) {
    .aui .hangouts-portlet {
        .form-search {
            input {
                width: 90%;
                padding: 5px 5%;
                margin: 0;
            }
        }
        .hangouts-users-to-call ul.users li {
            width: 90%;
            padding: 5px 5%;
            div {
                text-align: center;
            }
            .handle {
            	float: right;
            }
        }
        
        .pagination {
            li {
                display: none;
                a {
                    padding: 10px 5px;
                }
            }
            li.first-pagination-control,
            li.last-pagination-control,
            li.pagination-control,
            li.active {
                display: inline;
            }
        }
    }
}


@include respond-to(phone) {
  /* approach from https://css-tricks.com/responsive-data-tables/ */
  .hangouts-portlet .users-table {
    /* Force table to not be like tables anymore */
  	table, thead, tbody, th, td, tr { 
  		display: block; 
  	}
  	
  	/* Hide table headers (but not display: none;, for accessibility) */
  	thead tr { 
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}
  	
  	tr { border: 1px solid #ccc; }
  	
  	td { 
  		/* Behave  like a "row" */
  		border: none;
  		border-bottom: 1px solid #eee; 
  		position: relative;
  		padding-left: 50%; 
  	}
  	
  	td:before { 
  		/* Now like a table header */
  		position: absolute;
  		/* Top/left values mimic padding */
  		top: 6px;
  		left: 6px;
  		width: 45%; 
  		padding-right: 10px; 
  		white-space: nowrap;
  	}
  }
}
